/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFDDC2;
  color: #ff6347;
}

/* App Container */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Header */
.header {

  background-color: #FFDDC2;
  color: #ff6347;
}

.logo img{
 width: 900px;
}

.profile-icon img {
  width: 20px
}

/* Main Content */
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  color: #ff6347;
  font-size: 2em;
  margin-bottom: 40px;
}

.create-button {
  display: flex;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #ffa07a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-button:hover {
  background-color: #ff7f50;
}

/* Task Grid */
.task-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Task Cards */
.task-card {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.yellow {
  background-color: #f6c453;
}

.green {
  background-color: #66d19e;
}

.red {
  background-color: #ff6f61;
}
